
<html>
<head>
    <title>FlowerShop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div><h2>Добро пожаловать в магазин Flower Shop</h2></div>
<h4><a href="/main">Вход</a></h4>
</body>
</html>